$night: #000;
$daylight: #FFF;
$clouds: #FAFBFB;

[data-template-suffix="features-and-benefits"] {
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    /* Accordion styles */
    .accordion-tabs {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    }

    .accordion-tab {
        width: 100%;
        overflow: hidden;

        &-label {
            display: flex;
            padding: 1em;
            background: #fff;
            cursor: pointer;
            font-size: 1.1em;

            /* Icon */
            &:hover {
                background: $clouds;
            }

            &::before {
                content: "\276F";
                width: 1em;
                height: 1em;
                text-align: center;
                transition: all .35s;
            }

            p {
                color: #000;
                font-family: "Open Sans", sans-serif;
            }
        }

        &-content {
            max-height: 0;
            padding: 0 1em;
            color: $night;
            background: white;
            transition: all .35s;

            p {
                font-size: 1.1em;
                font-family: "Open Sans", sans-serif;
            }
        }

        &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: $daylight;
            cursor: pointer;

            &:hover {
                background: $clouds;
            }
        }
    }

    // :checked
    input:checked {
        +.accordion-tab-label {
            background: $clouds;

            &::before {
                transform: rotate(90deg);
                margin-top: 3px;
            }
        }

        ~.accordion-tab-content {
            max-height: 100vh;
            padding: 0 1em;
        }
    }

    .title {
        color: var(--shopify-editor-setting-heading_color);
        font-size: 44px;
        font-weight: 400;
        line-height: 1.125;
        word-break: break-word;
    }
}