/* #FAQ
================================================== */
[data-template-suffix="features-and-benefits"] {

    .page-faq__column-wrap {
        width: 100%;
    }
    
    @media only screen and (max-width: 798px) {
        .column-wrapper .faq:first-of-type {
            margin-bottom: 20px;
        }
    }
    
    .column-wrapper .faq-accordion {
        width: 100%;
    }
    
    .column-wrapper .faq-accordion .image-element__wrap {
        padding: 0;
    }
    
    .column-wrapper .faq-accordion .image-element__wrap:first-child {
        margin-bottom: 20px;
    }
    
    .column-wrapper .faq-title {
        margin-bottom: 10px;
    }
    
    .column-wrapper .faq-title:not(:first-child) {
        margin-top: 40px;
    }
    
    .accordion dt,
    .faq-accordion dt {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        position: relative;
    }
    
    .accordion dt a,
    .accordion dt button,
    .faq-accordion dt a,
    .faq-accordion dt button {
        background: none;
        border: 0;
        color: #000000;
        cursor: pointer;
        display: block;
        font-size: 1.2rem;
        padding: 20px 20px 20px 40px;
        text-align: left;
        width: 100%;
        transition: background-color 0.2s linear;
    }
    
    .accordion dt .accordion [aria-expanded="true"] small,
    .accordion dt .accordion-style--carets[aria-expanded="true"] .icon,
    .faq-accordion dt .accordion [aria-expanded="true"] small,
    .faq-accordion dt .accordion-style--carets[aria-expanded="true"] .icon {
        transform: translateY(-60%) rotate(180deg);
    }
    
    .accordion dt small,
    .accordion dt .icon,
    .faq-accordion dt small,
    .faq-accordion dt .icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s linear;
    }
    
    .accordion dt .accordion-style--plus_and_minus .icon,
    .faq-accordion dt .accordion-style--plus_and_minus .icon {
        display: none;
    }
    
    .accordion dt .accordion-style--plus_and_minus .icon.icon--active,
    .faq-accordion dt .accordion-style--plus_and_minus .icon.icon--active {
        display: block;
    }
    
    .accordion dt a[aria-expanded="true"],
    .accordion dt a:hover,
    .faq-accordion dt button[aria-expanded="true"],
    .faq-accordion dt button:hover {
        background-color: rgba(87, 117, 141, 0.03);
    }
    
    .accordion dd,
    .faq-accordion dd {
        display: none;
        padding: 20px 20px 20px 40px;
    }
    
    .accordion dt:first-of-type small,
    .accordion dt:first-of-type [aria-expanded="true"] small {
        transform: translateY(-60%) rotate(270deg);
    }
    
    .accordion dt:first-of-type [aria-expanded="false"] small {
        transform: translateY(-60%) rotate(360deg);
    }
    
    .accordion dd {
        margin-left: 0;
        display: none;
    }
    
    .accordion dt a small.right {
        font-family: "Arial";
        /* Force font family to ensure accordion carets are displayed on iOS devices */
    }
    
    .accordion dd:first-of-type {
        display: block;
    }
    
    .accordion [aria-expanded="false"] small {
        transform: translateY(-60%) rotate(180deg);
    }
    
    .accordion [aria-expanded="true"] small {
        transform: translateY(-60%) rotate(270deg);
    }
}
